<h1>All Articles</h1>
<% if current_user %>
  <p>Welcome, <%= current_user.name %></p>
  <%= link_to "logout", logout_path %>
<% else %>
  <%= link_to "Login", login_path %> or <%= link_to "sign up", signup_path %>
<% end %>
<h2><%= link_to "Add your own", new_article_path %></h2>

<ul>
<% @articles.each do |article|  %>
<li>
  <%= link_to article.title, article_path(article) %>
</li>
<% end  %>
</ul>
